body {
    background-color:rgb(0, 174, 255);
}

img{
    display: grid;
    place-items: center;
    height: 90%;
    width: 75%;
    border: 5px solid #555;
}

h1{
    text-align: center;
    color: gold;
}